<body class="h-screen bg-cover bg-no-repeat place-content-center" style="background-image: url(./css/veggies-bg2.jpg);">
    <div class="container mx-auto py-8">
        <h1 class="text-6xl text-center font-bold mb-20">Contact Me</h1>
        <div class="w-1/2 rounded m-auto p-5" style="background-color: rgba(128, 128, 128, 0.50);">
            <form action="#" method="POST" class="max-w-lg mx-auto">
                <div class="mb-4">
                    <label class="block text-gray-850 font-bold mb-2" for="name">Name</label>
                    <input class="appearance-non border rounded w-full py-2 px-3 text-gray-700 focus:outline-none"
                        id="name" type="text" placeholder="John Doe">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-850 font-bold mb-2" for="email">Email</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none"
                        id="email" type="email" placeholder="johndoe@example.com">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-850 font-bold mb-2" for="message">Message</label>
                    <textarea class="appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none"
                        id="message" rows="5" placeholder="Enter your message here"></textarea>
                </div>
                <div class="flex items-center justify-between">
                    <button
                        class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
                        type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>