<body class="h-screen"
    style="background-image: url('./images/vintage-wallpaper.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="flex flex-col justify-center items-center h-full">
        <h1 class="text-4xl font-bold mb-8">Enter your recipes!</h1>
        <div class="flex justify-center">
            <a href="/recipes" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-5 px-10 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Click here
                to start!</a>
        </div>
    </div>
</body>