<body class="h-screen" style = "background-image: url(./css/vinbg.jpg);">
    <div class="flex flex-col justify-center items-center h-full">
        <div class="flex justify-between items-center w-full">
            <div class="w-1/3">
                <h2 class="text-center text-xl font-semibold text-amber-950 mb-2">About</h2>
                <p class="text-left text-amber-950">This is a sentence about the text on the left side. Since it is on the left, it is
                    not on the right side</p>
            </div>
            <div class="w-2/3">
                <h1 class="text-4xl font-bold mb-8 text-amber-950">Welcome to your virtual cookbook!</h1>
                <div class="flex justify-center">
                    <a href="/recipes"
                        class="bg-orange-200 hover:bg-amber-400 text-amber-950 font-bold py-5 px-10 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Click
                        here
                        to start!</a>
                </div>
            </div>
            <div class="w-1/3">
                <h2 class="text-center text-xl font-semibold mb-2">Right Container</h2>
                <p class="text-right">Right side text is considered on right side since it is not on the left. </p>
            </div>
        </div>
    </div>
</body>