<body class="h-screen bg-cover bg-no-repeat place-content-center"
    style="background-image: url('./css/veggies-bg.jpg');">
    <div class="flex flex-col justify-center items-center h-full">

        <!-- Center Button -->
        <div class="w-full rounded mb-20">
            <h1 class="text-6xl text-center font-bold mb-20">
                Welcome to your virtual cookbook!</h1>
            <div class="flex justify-center">
                <a href="/login"
                    class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-5 px-10 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Click
                    here
                    to get started!</a>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center w-full h-auto">
            <!-- Container -->
            <div class="w-1/2 rounded" style="background-color: rgba(128, 128, 128, 0.35);">
                <h2 class="text-center text-xl font-semibold mb-2">About</h2>
                <p class="text-center">Welcome to our virtual cookbook website, where you can discover, create, and
                    share
                    your favorite recipes with ease! Our platform allows you to enter your own recipes into our
                    database, which stores them safely and securely on your personal profile.

                    Whether you're an experienced cook or just starting out in the kitchen, our user-friendly interface
                    makes it easy to create and organize your recipes.
                    So why wait? Join our community today and start creating your own virtual cookbook!</p>
            </div>
        </div>
    </div>
</body>