<body class="h-screen bg-cover bg-no-repeat place-content-center" style="background-image: url('./css/vintagefood.jpg');">
    <div class="flex flex-col justify-center items-center h-full">
        <div class="flex justify-between items-center w-full">

            <!-- Left container -->
            <div class="w-1/3 h-screen rounded mr-5" style="background-color:rgba(8, 88, 134, 0.681);">
                <h2 class="text-center text-xl text-white font-bold mb-2">About</h2>
                <p class="text-center text-white font-semibold">Welcome to our virtual cookbook website, where you can discover, create, and share
                    your favorite recipes with ease! Our platform allows you to enter your own recipes into our
                    database, which stores them safely and securely on your personal profile.

                    Whether you're an experienced cook or just starting out in the kitchen, our user-friendly interface
                    makes it easy to create and organize your recipes.
                    So why wait? Join our community today and start creating your own virtual cookbook! The
                    possibilities are endless!</p>
            </div>

            <!-- Center Button -->
            <div class="w-2/3 rounded">
                <h1 class="text-6xl text-center text-amber-950 hover:text-amber-100 font-bold mb-20">
                    Welcome to your virtual cookbook!</h1>
                <div class="flex justify-center">
                    <a href="/login"
                        class="bg-amber-100 hover:bg-orange-200 text-amber-950 font-bold py-5 px-10 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Click
                        here
                        to start!</a>
                </div>
            </div>

            <!-- Right container -->
            <div class="w-1/3 h-screen rounded ml-5" style="background-color:rgba(8, 88, 134, 0.639);">
                <h2 class="text-center text-xl text-white font-bold mb-2">Share Your Recipe</h2>
                <p class="text-center text-white font-semibold">Submit your recipes and you could see yours on the home page for the recipes of the month!</p>
            </div>
        </div>
    </div>
</body>