<h1>Welcome Back! Your recipes missed you!</h1>
<form id="login-form">
  <div>
    <label>Enter your Email:</label>
    <input type="email" id="login-email">
  </div>
  <div>
    <label>Enter your Password:</label>
    <input type="password" id="login-pw">
  </div>
  <button type="submit">Login</button>
</form>
<script type="text/javascript" src="/public/js/login.js"></script>