<!-- overall container -->
<section class="flex container-fluid w-screen h-screen place-content-center p-4 relative overflow-hidden bg-cover bg-no-repeat p-12" 
style="background-image: url('./css/images/veggies-bg2.jpg')">
  <!-- container for login information -->
  <div class="flex bg-orange-300 h-1/4 w-1/4 place-content-around rounded-lg p-4">
    <div class="col-auto">
      <h1 class="justify-center text-2xl" >Welcome Back! Your recipes missed you!</h1>
    </div>
    <div class="flex justify-center">
      <form id="login-form">
        <div>
          <label>Enter your Email:</label>
          <input type="email" id="login-email">
        </div>
        <div>
          <label>Enter your Password:</label>
          <input type="password" id="login-pw">
        </div>
        <button type="submit" class="hover:bg-orange-700">Login</button>
        </div>
        <a href="/signup"
      class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-5 px-10 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110 absolute inset-x-30 top-40">Click
      here
      to make an account!</a>
      </form>
      <div>
  </div>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
  </div>
</section>

<!-- this is a comment -->