<!-- overall container -->
<section class="flex container-fluid w-screen h-screen place-content-center p-4 relative overflow-hidden bg-cover bg-no-repeat p-12" 
style="background-image: url('./css/kitchenbackground.jpg')">
  <!-- container for login information -->
  <div class="flex bg-orange-300 h-1/4 w-1/4 place-content-around rounded-lg p-4">
    <div class="col-auto">
      <h1 class="justify-center text-2xl" >Welcome Back! Your recipes missed you!</h1>
    </div>
    <div class="justify-center">
      <form id="login-form">
        <div>
          <label>Enter your Email:</label>
          <input type="email" id="login-email">
        </div>
        <div>
          <label>Enter your Password:</label>
          <input type="password" id="login-pw">
        </div>
        <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="/js/login.js"></script>
  </div>
</section>

<!-- this is a comment -->