<!--overall container-->
<section class="flex container-fluid w-screen h-screen place-content-center p-4 relative overflow-hidden bg-cover bg-no-repeat p-12" 
    style="background-image: url('./css/images/vintagebckrnd.jpg')">
  
    <!--container for both sides of page-->
    <div class="flex bg-white w-3/4 place-content-around rounded-lg p-4 drop-shadow-md">
        <!--this is the recipes list that the user made-->
        <div class="flex row-auto list-container w-1/5 bg-white border-r-2 border-gray">
            <div class="">
                <ul class="list-group">{{Recipe}}</ul>
            </div>
        </div>
        <!-- this is the open recipe that the user is editing-->
        <div class="flex row-auto w-4/5 bg-white rounded-lg">
            <div class="w-full p-8 px-9 m-5 place-content-between">
              <textarea id="recipeName" class="recipe-name text-4xl resize-none h-12 w-full outline-none text-amber-950 placeholder-amber-950" placeholder="Recipe Name"></textarea>
              <textarea id="recipeDescription" class="recipe-description text-2xl resize-none w-full outline-none h-20 text-amber-950 placeholder-amber-950" placeholder="Short Description"></textarea>
              <textarea id="recipeIngredients" class="recipe-ingredients text-2xl resize-none w-full outline-none h-20 text-amber-950 placeholder-amber-950" placeholder="Enter Ingredients"></textarea>
              <textarea id="recipeInstructions" class="recipe-steps text-1xl resize-none w-full outline-none h-52 text-amber-950 placeholder-amber-950" placeholder="Recipe Instructions"></textarea>
            </div>
            <!-- icons div -->
            <div class="icons m-7 text-xl cursor-pointer">
              <i id="saveRecipeBtn" class="fas fa-save text-dark save-recipe-btn py-5" alt="Save Recipe"></i>
              <i id="newRecipeBtn" class="fas fa-plus text-dark new-recipe-btn py-5" alt="Add Recipe"></i>
            </div>
          </div>
        </div>
    </div>
</section>

<script src="/js/index.js"></script>