@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url(../../views/images/bluevintagepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}